.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 2rem;
  background-color: #228B22;
  color: #fff;
  width: 100%;
  z-index: 1;
}

.logoContainer {
  width: 120px;
}

.logo {
  max-width: 100%;
  height: auto;
}

.text {
  font-size: 0.9rem;
}

@media (max-width: 991.98px) {
  .footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    word-break: break-word;
    padding: 1rem; 
    gap: 0.5rem; 
    z-index:0;
  }
}
