.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  padding: 1rem 2rem;
  background-color: #228B22;
  color: #fff;
  position: absolute;
  top: 69rem;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 1;
}

.logoContainer {
  width: 120px;
}

.logo {
  max-width: 100%;
  height: auto;
}

.text {
  font-size: 0.9rem;
}
