.bg::before {
    content: "";
    background: url('../images/mabalanoy.jpg') no-repeat center;
    opacity: 0.06;
    background-size: contain;
    position: fixed;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.bg{
  height: 100vh;
}
.bg-1::before {
    content: "";
    background: url('../images/mabalanoy-map.png') no-repeat center;
    opacity: 0.1;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}
.forest-green {
  background-color: #228B22 !important;
  color: white !important;
}

.forest-green-text {
  color: #228B22 !important;
}


.custom-card {
  min-height: 600px;
  max-height: 900px;
  overflow-y: auto;
}

@media (max-width: 767.98px) {
  .custom-card {
    min-height: auto !important;
    max-height: none !important;
  }
}