.swal2-confirm-forest {
  background-color: #228B22 !important;
  color: white !important;
  border: none !important;
}
.swal2-cancel-forest {
  background-color: #aaa !important;
  color: white !important;
  border: none !important;
}
